.navbar {
    width: 700px;

    height: 300px;
    display: flex;
    justify-content: space-around;
    width: 100px;
    height: 100px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
}

.navbar a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: red;
}
.c1{
    margin-top: 300px;
}